.aboutUser {
    display: flex;
    position: relative;
    .editIcon {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 32px;
        cursor: pointer;
    }
}


