.profileData {
    display: flex;
    flex-wrap: wrap;
    outline: 0px solid red;
    .userNameAndStatus {
        outline: 0px solid red;
        margin: 0 0 10px 10px;
        max-width: 60%;
        .userName {
            display: flex;
            font-size: 22px;
            font-weight: 700;
            outline: 0px solid red;
            margin: 0 0 2px 0;
            .editIcon {
                position: relative;
                font-size: 30px;
                cursor: pointer;
                margin: 0 0 0 10px;
                outline: 0px solid red;
                height: 30px;
                @media screen and (max-width: 1600px) {
                    font-size: 25px;
                }
                @media screen and (max-width: 1400px) {
                    font-size: 20px;
                    margin: 0 0 0 5px;
                }
            }
            @media screen and (max-width: 1600px) {
                font-size: 19px;
            }
            @media screen and (max-width: 1400px) {
                font-size: 16px;
            }
        }
    }
    .aboutMe {
        margin: 15px 0 0 0;
    }
    span {
        font-weight: 600;
        font-size: 16px;
        @media screen and (max-width: 1600px) {
            font-size: 14px;
        }
        @media screen and (max-width: 1400px) {
            font-size: 12px;
        }
    }
}