.menu {
    background-color: #8c8c8c;
    .showMoreText {
        background: #8c8c8c;
        color: white;
        &:hover {
            background: #8c8c8c;
            color: white;
        }
    }
    @media screen and (max-width: 1600px) {
        span {
            font-size: 12px;
        }
    }
    @media screen and (max-width: 1400px) {
        span {
            font-size: 10px;
        }
    }
}