.menu {
    background-color: #8c8c8c;
    .showMoreText {
        background: #8c8c8c;
        color: white;
        &:hover {
            background: #8c8c8c;
            color: white;
        }
    }
}